/* ------------------ */
/* General parameters */
/* ------------------ */
html {
    box-sizing: border-box;
    font-size: 16px;

}

body
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#d3d3d3;
}

/* ------ */
/* Header */
/* ------ */
header {
    display: flex;
    justify-content:space-around;
    z-index: 3000;
    position:sticky;
    align-items: center;
    height: 4rem;
    background-color: white;
    width: 100%;
    position: relative;
}

.main-title-font-size {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    margin:0;
}

.highlight-effect-top{
    position: absolute;
    width: 100%;
    height: 7px;
    background: linear-gradient(#d3d3d3,#ffffff);
    top: 0;
}

.highlight-effect-bottom {
    position: absolute;
    width: 100%;
    height: 7px;
    background: linear-gradient(#ffffff,#d3d3d3);
    bottom: 0;
}
/* ---------------------- */
/* Main page disconnected */
/* ---------------------- */
main {
    width: 100%;
}
.connexion-wrapper {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.connexion-register{
    display:flex;
    flex-direction: column;
    padding-right: 2rem;
}


.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    padding: 0 20px 0 20px;
    color: black;
    text-decoration: none;
    width: auto;
}

.nav-links a:hover{
    color:blue;
}


#button-register {
    width:100px;
}

/* Session register */
.register-wrapper{
    display: flex;
    flex-direction: column;
}

/* Subscriptions */

.message{
    font-style: italic;
    font-size: 1rem;
}

.test{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    border:1px solid black;
}

.unsubscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.review-part{
    padding: 10px;
    border:1px solid black;
    width: 100%;
}

#button-submit-selfreview{
    margin-top: 10px;
}



.ticket-img {
    width: 20%;
    object-fit: cover;
}

.card--modify-width-outside {
    width: 30rem;
}

.card--modify-width-inside {
    width: 25rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}
.card{
    margin-top: 1rem;
    color: black;
    border:1px solid black;
    word-break: break-word;
}

.card--font{
    font-size: 0.7rem;
}

.card-body{
    display: flex;
    justify-content: space-between ;
}

.message{
    color: red;
}

.card-title{
    display: flex;
    justify-content: center;
    background-color: grey;
}

/* ------------------ */
/* Bootstrap modifier */
/* ------------------ */