{% extends "base.html" %}
{% block content %}

<section class="connexion-wrapper">
    <div class="connexion-register">
        <h3>Inscrivez-vous maintenant</h3>
        <a href="{% url 'register' %}" class="btn btn-primary">S'inscrire</a>
    </div>
    <div class="connexion-login">
        <form method="post">
            {% csrf_token %}
            <h3>Connectez vous</h3>
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Se connecter</button>
        </form>
    </div>
</section>

{% endblock content %}
