{% extends "base.html" %}
{% block content %}

<section class="connexion-wrapper">
    <div class="connexion-register">
        <h2>Inscrivez-vous maintenant</h2>
        <button onclick="location.href='{% url 'register' %}'" id="button-register">S'inscrire</button>
    </div>
    <div class="connexion-login">
        <form method="post">
            {% csrf_token %}
            <h2>Connectez vous</h2>
            {{ form.as_p }}
            <button type="submit" id="button-submit-login">Se connecter</button>
        </form>
    </div>
</section>
{% endblock content %}