{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="subscription-wrapper">
    <h4>Suivre d'autres utilisateurs</h4>

    <form method="POST" >
        {% csrf_token %}
        <div class="subscription-form">
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit" id="subscription-send">Envoyer</button>
        </div>
    </form>
    <div class="message">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    </div>
    <section class="subscription-listing">
        {% if followed_users %}
            <h4>Abonnements</h4>
            {% for followed_user in followed_users %}
                <div class="subscription-listing-bar">
                    <p> {{followed_user}} </p>
                    <a href='{% url 'unsubscribe' followed_user.pk %}'>désabonner</a>
                </div>
            {% endfor %}
        {% endif %}

        {% if followed_bys %}
            <h4>Abonnés</h4>
            {% for followed_by in followed_bys %}
                <div class="subscription-listing-bar">
                    <p> {{followed_by}} </p>
                </div>
            {% endfor %}
        {% endif %}
    </section>
</section>
{% endblock content %}