{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="subscription">
    <h4>Suivre d'autres utilisateurs</h4>

    <form method="POST" >
        {% csrf_token %}
        <div class="form-subscription">
            <div class="form-subscription2">
                {{ form|crispy }}
            </div>
            <button class="btn btn-primary" type="submit" id="send-subscription">Envoyer</button>
        </div>
    </form>
    <div class="message">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    </div>
    <section class="subscriptions_listing">
        {% if followed_users %}
            <h4>Abonnements</h4>
            {% for followed_user in followed_users %}
                <div class="test">
                    <p> {{followed_user}} </p>
                    <a class="unsubscribe" href='{% url 'unsubscribe' followed_user.pk %}'>désabonner</a>
                </div>
            {% endfor %}
        {% endif %}
    </section>

    <section class="subscribers_listing">
        {% if followed_bys %}
            <h4>Abonnés</h4>
            {% for followed_by in followed_bys %}
                <div class="test">
                    <p class="listing_font"> {{followed_by}} </p>
                </div>
            {% endfor %}
        {% endif %}
    </section>
</section>
{% endblock content %}