{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<section class="review-wrapper">
    <h3>Créer une critique</h3>
    <div class="review-part">
        <h4>Vous êtes en train de poster en réponse à</h4>
        {% include 'reviews/post_ticket.html' %}
    </div>
    <div class="review-part">
        <form method="post">
            {% csrf_token %}

            <p>Critique</p>
            {{ r_form|crispy}}
            <button type="submit" id="button-submit-selfreview">Envoyer</button>
        </form>
    </div>
</section>
{% endblock content %}