{% extends "base.html" %}
{% block content %}

<section class="flux">
    {% csrf_token %}
    {% if tag == "flux" %}
        <section class="review-button">
            <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
            <a href="{% url 'create_review_solo' %}" class="btn btn-primary">Créer une critique</a>
        </section>
    {% else %}
        <p class="title-post"> Vos Posts </p>
    {% endif %}

    {% if all_posts %}
        {% for post in all_posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'reviews/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'reviews/review_snippet.html' %}
            {% endif %}
        {% endfor %}
    {% elif tag == "flux" %}
        <p class="title-post"> Il n'y aucun Post dans le flux pour le moment.</p>
    {% else %}
        <p class="title-post"> Vous n'avez publié aucun Post pour le moment.</p>
    {% endif %}
</section>

{% endblock content %}