{% extends "base.html" %}
{% block content %}

<section class="flux">
    {% csrf_token %}
    <section class="review-button">
        <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
        <a href="{% url 'create_review_solo' %}" class="btn btn-primary">Créer une critique</a>
    </section>

    {% for post in all_posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'reviews/post_ticket.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'reviews/post_review.html' %}
        {% endif %}
    {% endfor %}
</section>

{% endblock content %}