{% extends "base.html" %}
{% block content %}
<section class="review-wrapper">
        {% csrf_token %}
        {% if user_all_tickets or user_all_reviews %}
            {% for post in user_all_tickets %}
                 {% include 'reviews/post_ticket.html' %}
            {% endfor %}

            {% for post in user_all_reviews %}
                 {% include 'reviews/post_review.html' %}
            {% endfor %}
        {% else %}
            <p class="title-post"> Vous n'avez publié aucun Post pour le moment.</p>
        {% endif %}

</section>
{% endblock content %}