<article class="card">
    {% if post.user == user %}
        <h5 class="card-title">Vous avez publié une critique</h5>
    {% else %}
        <h5 class="card-title">{{post.user.username}} a publié une critique</h5>
    {% endif %}
    <div class="card-header">
        {% if post.rating == 0 %} <p class="card-text">{{ post.headline }} - <span> <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span></p>
        {% elif post.rating == 1 %} <p class="card-text">{{ post.headline }} - <span> <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span></p>
        {% elif post.rating == 2 %} <p class="card-text">{{ post.headline }} - <span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span></p>
        {% elif post.rating == 3 %} <p class="card-text">{{ post.headline }} - <span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span></p>
        {% elif post.rating == 4 %} <p class="card-text">{{ post.headline }} - <span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span></p>
        {% elif post.rating == 5 %} <p class="card-text">{{ post.headline }} - <span> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span></p>
        {% endif %}
        <p>{{ post.time_created}}</p>
    </div>

    <div class="card-body">
        <p class="card-text">{{ post.body}}</p>
        {% with post=post.ticket %}
            {% include 'reviews/ticket_snippet.html' %}
        {% endwith %}
    </div>

    {% if tag == "posts" %}
        <div class="card-footer">
            <a href="{% url 'update_review' post.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'delete_review' post.pk %}" class="btn btn-primary">Supprimer</a>
        </div>
    {% endif %}
</article>